<%-include('common/head.ejs')-%>
<title>Hospital Management System</title>
</head>
<body>
<div id="container">
  
    <%-include('common/sidebar.ejs')-%>
  <div id="content">
    <%-include('common/welcome.js')  %>

    <button class="btn" id="appo">
      <a href="/admin/appointment" >
          List of Appointment
      </a>
    </button>
    <button class="btn" id="add-appo" >
        <a href="/admin/add-appointment" >
            Add appointment
        </a>
    </button>
    <button class="btn" id="appr-appo" >
      <a href="/admin/appointment/approved" >
          Approved appointments
      </a>
  </button>
        <!-- Doctor Form Content -->
        <form id="appo-form" class="form2 active-active">
        
          <div class="alert-container-appo ">
            
            <% if (flashMessage.success) { %>
              <div class="alert alert-success alert-dismissal ">
                <strong><%= flashMessage.success[0] %></strong>
              </div>
            <% } %>
    
            <% if (flashMessage.danger) { %>
              <div class="alert alert-danger">
                <strong><%= flashMessage.error[0] %></strong>
              </div>
            <% } %>
          </div>
          <table class="table-admin">
            <thead>
                <tr>
                  <th>Appointment ID</th>
                  <th>Patient Name</th>
                  <th>Doctor Name</th>
                  <th>Age</th>
                  <th>Phone Number</th>
                  <th>Preferred Date</th>
                  <th>Preferred Time</th>
                  <th>Cause</th>
                  <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              <% approvedAppo.forEach((row,index) => { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= row.patientName %></td>
                  <td><%= row.doctorname %></td>
                  <td><%= row.age %></td>
                  <td><%= row.phone %></td>
                  <td><%= row.date %></td>
                  <td><%= row.time %></td>
                  <td><%= row.cause %></td>
                  <td><center>
                    <!-- <button class="btn-list" ><a href="/admin/appointment/edit/">Edit</a></button> -->
                    <button class="btn-list" ><a href="/admin/appointment/delete/<%= row._id %>">Delete</a></button></td>
                  </center></tr>
              <% }) %>
            </tbody>
          </table>
        </form>
        <%- include('common/alert-timer.ejs') %>
<%- include('common/footer.ejs') %>

