<%- include('common/head.ejs') -%>
<title>Hospital Management System</title>
</head>
<body>
    <div id="container">
        <%- include('common/sidebar.ejs') -%>
        <div id="content">
          <%-include('common/welcome.js')  %>

            
            <button class="btn" id="dept">
              <a href="/admin/dept" >

                  Department
              </a>
            </button>
            <button
              class="btn"
              id="add-department"
              
              
            >
            <a href="/admin/add-dept" >
                Add department
            </a>
            </button>
        
                    <!-- <div id="dept-form" class="form active-active"> -->
                      <div class="alert-container">
                        <% if (flashMessage.success) { %>
                          <div class="alert alert-success alert-dismissal ">
                            <strong><%= flashMessage.success[0] %></strong>
                          </div>
                        <% } %>
                
                        <% if (flashMessage.danger) { %>
                          <div class="alert alert-danger">
                            <strong><%= flashMessage.error[0] %></strong>
                          </div>
                        <% } %>
                      </div>
                      <form id="dept-form" class="form2 active-active">
                      <table class="table-admin">
                        <thead> 
                          <tr>
                            <th>Department ID</th>
                            <th>Department Name</th>
                            <th>HOD</th>
                            <th>Description</th>
                            <th>Actions</th>
                          </tr>
                        </thead>

                       <tbody>
                        <% dept.forEach((row,index) => { %>
                            <tr>
                              <td><%= index+1  %></td>
                              <td><%= row.deptname %></td>
                              <td><%= row.hod %></td>
                              <td><%= row.description %></td>
                              <td><center><button class="btn-list" ><a href="/admin/dept/edit/<%= row._id %>">Edit</a></button>
                                <button class="btn-list" ><a href="/admin/dept/delete/<%= row._id %>">Delete</a></button></td>
                              </center></tr>
                            </tr>
                        <% }) %>
                       </tbody>
                      </table>
                    </form>
                    </div>
                    
                  <!-- </div> -->
    </div>
    <%- include('common/alert-timer.ejs') %>
    <%- include('common/footer.ejs') %>
