<%-include('common/head.ejs')-%>
<title>Hospital Management System</title>
</head>
<body>
<div id="container">
  
    <%-include('common/sidebar.ejs')-%>
  <div id="content">
    <%-include('common/welcome.js')  %>

    <button class="btn" id="doc">
      <a href="/admin/doctor" >

          Doctors
      </a>
    </button>
    <button class="btn" id="add-doc" >
        <a href="/admin/add-doctor" >

            Add doctor
        </a>
    </button>
        <!-- Doctor Form Content -->
        <form id="doc-form" class="form2 active-active">
          
          <div class="alert-container">

            <% if (flashMessage.success) { %>
              <div class="alert alert-success alert-dismissal ">
                <strong><%= flashMessage.success[0] %></strong>
              </div>
            <% } %>
    
            <% if (flashMessage.danger) { %>
              <div class="alert alert-danger">
                <strong><%= flashMessage.error[0] %></strong>
              </div>
            <% } %>
          </div>
  
          <table id="list-show" class="table-admin">
            <thead>
              <tr>
                <th>Doctor ID</th>
                <th>Doctor Name</th>
                <th>Department</th>
                <th>DOB</th>
                <th>Mobile No.</th>
                <th>Email</th>
              
              <th>Gender</th>
              <th>Experience</th>
              <th>Education</th>
              <th>Available Time Slot</th>
              <th>Address</th>
              <th>Actions</th>
                <!-- Add other table headers as needed -->
              </tr>
            </thead>
              <tbody>
                <% doctors.forEach((row,index) => { %>
                 <tr>
                  <td><%= index+1  %></td>
                  <td><%= row.doctorname  %></td>
                  <td><%= row.department  %></td>
                  <td><%= row.dob  %></td>
                  <td><%= row.phoneNo  %></td>
                  <td><%= row.email  %></td>
                  <td><%= row.gender  %></td>
                  <td><%= row.exp %></td>
                  <td><%= row.education %></td>
                  <td>
                    <ul>
                      <% if (row.slot) { %>
                        <% row.slot.map((timeSlot, index) => { %>
                          <li><%= timeSlot.startTime %>-<%= timeSlot.endTime %></li>
                        <% }) %>
                      <% } else { %>
                        <li>No available time slots</li>
                      <% } %>
                    </ul>
                  </td>
                  <td><%= row.address  %></td>
                  <td><center><button class="btn-list"><a href="/admin/doctor/edit/<%= row._id %>">Edit</a></button>
                    <button class="btn-list"><a href="/admin/doctor/delete/<%= row._id %>">Delete</a></button></td>
                  </center>
                </tr>
                <% }) %>                 
               

              </tbody>
          </table>
        </form>
        <%- include('common/alert-timer.ejs') %>
        <%- include('common/footer.ejs') %>

