<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital management</title>
    <link rel="stylesheet" href="/stylesheets/new.css">
    <link rel="stylesheet" href="/stylesheets/book.css">
    <link rel="stylesheet" href="/stylesheets/akshay.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
    <script src="index.js"></script>
</head>

<body>

    <div class="main">
        <div class="page1">
            <div class="navbar">
                <div class="logo"><img src="/images/Logoremovedbackground.png" alt="logo"></div>
                <div id="nav-mid">
                    <h4><a href="#">Doctors</a></h4>
                    <h4><a href="#">Services</a></h4>
                    <h4><a href="#">Directions</a></h4>
                </div>
                <div id="nav-right">
                    <a href="#book" class="btn-green">
                        <i class="fas fa-calendar-week"></i>Book an appointment
                    </a>
                    <a href="#" class="btn-green message-box" id="message-box">
                        <i class="fas fa-message"></i>
                        <div class="status-box hidden">
                            <div class="head">
                                <h3>Appointment Status</h3>
                                <hr>
                            </div>
                            <table class="status">
                                <% bookedAppos.forEach((book)=> { %>
                                    <% if (book.patientName===username) { %>
                                        <tr>
                                            <% if (book.status==='Approved' ) { %>

                                                <td>Appointment on <%= book.date %> for slot <%= book.time %> with Dr.
                                                            <%= book.doctorname %>
                                                </td>
                                                <td>
                                                    <%= book.status %>
                                                </td>
                                                <td><a href="/profile/reject/<%= book._id %>">Delete</a></td>
                                                <% } else if (book.status==='Rejected' ) { %>
                                                    <td>Appointment on <%= book.date %> for slot <%= book.time %> with
                                                                Dr.<%= book.doctorname %>
                                                    </td>
                                                    <td>
                                                        <%= book.status %>
                                                    </td>
                                                    <td><a href="/profile/reject/<%= book._id %>">Delete</a></td>
                                                    <% } else if (book.status==='New' ){ %>
                                                        <td>Appointment on <%= book.date %> for slot <%= book.time %>
                                                                    with Dr.<%= book.doctorname %>
                                                        </td>
                                                        <td>Pending</td>
                                                        <td><a href="/profile/reject/<%= book._id %>">Delete</a></td>
                                                        <% }else if (book.status==='Pending' ) { %>
                                                            <td>Appointment on <%= book.date %> for slot <%= book.time
                                                                        %> with Dr.<%= book.doctorname %>
                                                            </td>
                                                            <td>
                                                                <%= book.status %>
                                                            </td>
                                                            <td><a href="/profile/reject/<%= book._id %>">Delete</a>
                                                            </td>
                                                            <% } %>
                                        </tr>




                                        </p>
                                        <% } %>
                                            <% }) %>

                            </table>
                        </div>
                        <hr>
                    </a>
                    <a href="/logout" class="btn-green">
                        Logout
                    </a>
                </div>

            </div>
        </div>

        <input type="checkbox" id="click">
        <label for="click" class="hamburger">
            <button id="menu">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path fill="#fff" path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                </svg>
            </button></label>
        <input type="checkbox" id="click">
        <label for="click" class="cross">
            <button id="close">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12"
                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path fill="#ffffff"
                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                </svg>
            </button></label>

    </div>

    <!-- video -->
    <section class="banner">
        <div class="banner-content">
            <h1> Our expertise at your service</h1>
        </div>
        <video autoplay loop muted>
            <source src="images/pexels-ron-lach-7579331 (2160p).mp4" type="video/mp4">
        </video>
    </section>

    <!-- sticky -->
    <div class="service">
        <a href="#services">
            <div class="service-content">
                Our Service Providers
                <div class="service-icon">
                    <i class="fas fa-heartbeat"></i>
                </div>
            </div>

        </a>
        <a href="#book">
            <div class="service-content">
                Book an Appointment
                <div class="service-icon">
                    <i class="fas fa-calendar"></i>
                </div>
            </div>

        </a>
        <a href="#">
            <div class="service-content">
                Have an emergency ?
                <div class="service-icon">
                    <i class="fas fa-phone-volume"></i>
                </div>
            </div>
            <div class="call-number">
                <p>Emergency Line</p>
                <h3>123-456-789</h3>
            </div>

        </a>
    </div>
    </div>

    <!-- FIND DOCTORS -->
    <div id="doctors-top"></div>
    <div id="doctors" class="find-doctor">
        <h2 class="find">Our Top Doctors</h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <% doctors.forEach((doctor)=> { %>
                    <% if (doctor.istop) { %>
                        <div class="swiper-slide">
                            <center>
                                <div class="card">
                                    <div class="card-card">
                                        <% if (doctor.gender==='male' ) { %>
                                            <img src="https://images.unsplash.com/photo-1612276529731-4b21494e6d71?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                alt="" srcset="">
                                            <!-- <p>The condition is true.</p> -->
                                            <% } else if (doctor.gender==='female' ) { %>
                                                <img src="https://img.freepik.com/free-photo/portrait-doctor_144627-39391.jpg?t=st=1702397262~exp=1702397862~hmac=19c51c894d2243868e652290ae1584d420fd51370ca7255e70728e4bd894adfd"
                                                    alt="" srcset="">
                                                <!-- <p>The condition is false.</p> -->
                                                <% } %>
                                                    <div class="card-content">
                                                        <!-- <h3></h3>
                                <h3></h3>
                                <p>Lorem ipsum dolor sit amet,consectetur</p>
                                <a href="" class="btn">Read More</a> -->
                                                        Meet Dr.<%= doctor.doctorname %> , who is <%= doctor.department
                                                                %>. With a wealth of
                                                                experience spanning <%= doctor.exp %> years, Dr. is
                                                                    dedicated to delivering
                                                                    top-notch medical care. Dr. combines skillful
                                                                    precision with a
                                                                    patient-centered approach. Dr. is committed to
                                                                    ensuring the well-being
                                                                    of each patient, backed by a passion for continuous
                                                                    learning and staying
                                                                    abreast of the latest advancements in the field."
                                                    </div>
                                    </div>
                                </div>
                            </center>
                        </div>

                        <% } %>
                            <!-- Slides -->

                            <% }) %>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>

    </div>

    </div>

    <hr style="color: brown;">
    
    <h2 id="service-head">Our Services</h2>
    <div class="response-out">
        <div class="response">
            <a href="javascript:void(0);">
                <div class="response-bg"
                    style="background-image: url('https://images.unsplash.com/photo-1512678080530-7760d81faba6?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                </div>
                <div class="response-content">
                    <div class="response-icon">
                        <i class="fas fa-leaf"></i>
                    </div>
                    <h2>Rooms</h2>
                    <p>Our hospital offers 300 rooms, including general, private, and suite accommodations, ensuring
                        diverse patient needs are met. Our affordable healthcare starts at 800 per day, making quality
                        medical care accessible to all.</p>
                    <button type="button" class="read-more mt-20px">Read-more
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </a>
        </div>

        <div class="response">
            <a href="javascript:void(0);">
                <div class="response-bg"
                    style="background-image: url('https://img.freepik.com/free-photo/interior-view-operating-room_1170-2254.jpg?w=996&t=st=1702788605~exp=1702789205~hmac=a8f13a4b7d84f25639752d4906f7b47805bd7407887b3678e42e7afa1af787fd');">
                </div>
                <div class="response-content">
                    <div class="response-icon">
                        <i class="fas fa-leaf"></i>
                    </div>
                    <h2>Operation Theatre</h2>
                    <p>Our hospital features a modern Operating Theater (OT) where our skilled surgeons perform a
                        variety of procedures using the latest medical advancements.</p>
                    <button type="button" class="read-more mt-20px">Read-more
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </a>
        </div>
        <div class="response">
            <a href="javascript:void(0);">
                <div class="response-bg"
                    style="background-image: url('https://img.freepik.com/free-photo/nurse-checking-pulse-female-patient-s-wrist_23-2147861479.jpg?w=996&t=st=1702788568~exp=1702789168~hmac=0415052990325f31113eeb075fe590d01c0c0f683c596acd5a4eb00d28394d4d');">
                </div>
                <div class="response-content">
                    <div class="response-icon">
                        <i class="fas fa-leaf"></i>
                    </div>
                    <h2>Caring Staff</h2>
                    <p>Our hospital team of experienced and compassionate healthcare professionals is committed to
                        providing the highest standard of care for our patients.</p>
                    <button type="button" class="read-more mt-20px">Read-more
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </a>
        </div>
        <div class="response">
            <a href="javascript:void(0);">
                <div class="response-bg"
                    style="background-image: url('https://img.freepik.com/free-photo/monitor-hospital-ward-showing-bmp-from-patient_482257-9697.jpg?t=st=1702788637~exp=1702789237~hmac=e4f53dc3b5cab6c3574693f7ea43c3e4ddf0e2e35ec31eb47a881686c37d384f');">
                </div>
                <div class="response-content">
                    <div class="response-icon">
                        <i class="fas fa-leaf"></i>
                    </div>
                    <h2>Intensive Care Unit (ICU)</h2>
                    <p>Our Intensive Care Unit (ICU) is equipped with cutting-edge technology to provide round-the-clock
                        critical care for patients in need of specialized attention.</p>
                    <button type="button" class="read-more mt-20px">Read-more
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </a>
        </div>

    </div>



    <!-- Services -->

    <div class="slideshow-container" id="services">

        <div class="mySlides fade">
            <div class="text">Cardiac Surgeries</div>
            <img src="https://images.unsplash.com/photo-1551601651-2a8555f1a136?q=80&w=1447&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                style="width:100%">
            <div class="content-box" id="content-box-1"> </div>
            <div class="additional-box" id="additional-box-1">
                <p>Cardiac surgeries are intricate procedures addressing heart conditions. Coronary
                    Artery Bypass Grafting (CABG) involves rerouting blood around blocked arteries,
                    while valve replacement corrects faulty heart valves. Angioplasty employs a balloon
                    to open narrowed arteries, often accompanied by stent placement to maintain blood
                    flow.These surgeries aim to enhance cardiac health and treat cardiovascular
                    disorders.</p>
            </div>
        </div>




        <div class="mySlides fade">
            <div class="text">Orthopedic Surgeries</div>
            <img src="https://images.unsplash.com/photo-1597764690472-ec054f1c8637?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                style="width:100%">
            <div class="content-box" id="content-box-1"></div>
            <div class="additional-box" id="additional-box-1">
                <p>Orthopedic surgeries involve the diagnosis and treatment of musculoskeletal
                    conditions, including bones, joints, ligaments, muscles, and tendons. These
                    procedures address issues such as fractures, joint disorders, arthritis, and
                    deformities,these procedures aim to improve the function and structure of the
                    musculoskeletal system for enhanced mobility and overall well-being. </p>
            </div>

        </div>

        <div class="mySlides fade">

            <div class="text">Neurosurgery</div>
            <img src="https://img.freepik.com/free-photo/researcher-looking-monitor-analysing-brain-scan-while-coworker-discussing-with-patient-background-about-side-effects-mind-functions-nervous-system-tomography-scan-working-laboratory_482257-13071.jpg?w=826&t=st=1702396047~exp=1702396647~hmac=e58c54ff1009c5b8ed6b19414fc7a0c2be3f8f0c2d6b39dfe241ddd9e4dff8b8"
                style="width:100%">
            <div class="content-box" id="content-box-1"></div>
            <div class="additional-box" id="additional-box-1">
                <p>Neurosurgery involves surgical interventions on the nervous system, including the
                    brain and spinal cord, to treat conditions like tumors, trauma, or neurological
                    disorders for improved patient health by precise and specialized procedures that
                    treat disorders affecting the delicate structures of the nervous system. </p>
            </div>
        </div>

        <div class="mySlides fade">

            <div class="text">Gastrointestinal Surgery</div>
            <img src="https://img.freepik.com/free-photo/high-angle-doctor-explaining-anatomy_23-2149389044.jpg?w=996&t=st=1702396114~exp=1702396714~hmac=061f659f28e6efe233550922883ae2e676ed649313820d836cd67a7155bfa674"
                style="width:100%">
            <div class="content-box" id="content-box-1"></div>
            <div class="additional-box" id="additional-box-1">
                <p>Gastrointestinal surgery focuses on the digestive system, treating conditions like
                    hernias, colorectal disorders, and stomach issues through surgical procedures for
                    improved gastrointestinal health,providing effective solutions for disorders
                    affecting the organs involved in digestion, absorption, and nutrient processing
                    within the digestive tract.</p>
            </div>
        </div>

        <div class="mySlides fade">

            <div class="text">Ophthalmic Surgery</div>
            <img src="https://img.freepik.com/free-photo/man-using-eye-drops-close-up_23-2148696714.jpg?size=626&ext=jpg&ga=GA1.1.398470763.1688918012&semt=sph"
                style="width:100%">
            <div class="content-box" id="content-box-1"> </div>
            <div class="additional-box" id="additional-box-1">
                <p> Ophthalmic surgery focuses on procedures related to the eyes, treating conditions
                    such as cataracts, glaucoma, and refractive errors. Surgeons aim to improve vision
                    and address eye-related disorders through interventions like lens replacement and
                    laser surgeries, enhancing the overall health and functionality of the eyes.</p>
            </div>
        </div>

        <div class="mySlides fade">

            <div class="text">Dental Surgery</div>
            <img src="https://img.freepik.com/free-photo/little-beautiful-girl-dentist-smiling_158595-7736.jpg?size=626&ext=jpg&ga=GA1.1.398470763.1688918012&semt=sph"
                style="width:100%">
            <div class="content-box" id="content-box-1"></div>
            <div class="additional-box" id="additional-box-1">
                <p>Involves procedures related to the teeth and oral cavity.Tooth extraction, root
                    canal, and dental implants are common dental surgeries.These surgeries aim to
                    restore oral health, alleviate pain, and enhance the functionality and aesthetics of
                    the teeth and surrounding structures.</p>
            </div>
        </div>


        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>


    <!-- BOOK      -->

    <div class="appointment-container-main">
        <div class="container-appointment" id="book">
            <form action="/admin/submit-appointment" method="POST" id="appointment-form">
                <h1>Book an Appointment</h1>
                <div class="alert-container">
                    <div class="alert alert-success alert-dismissal ">
                        <p>
                            <%= messages.success %>
                        </p>
                    </div>
                </div>
                <label for="patientName">Your Name</label>
                <input type="text" name="patientName" required>

                <label for="doctorname">Doctor Name</label>
                <!-- Add an input field to store the selected doctor in the session -->
                <input type="hidden" id="selectedDoctorInput" name="selectedDoctor">

                <!-- Your select element for choosing the doctor -->
                <select name="doctorname" id="doctorname" onchange="fetchTimeSlots(this.value)">
                    <% doctors.forEach((row, index)=> { %>
                        <option value="<%= row.doctorname %>">
                            <%= row.doctorname %>
                        </option>
                        <% }) %>
                </select>


                <label for="time">Preferred Slot</label>
                <select name="time" id="time">

                </select>
                <label for="age">Age</label>
                <input type="number" name="age" required>

                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" required>

                <label for="date">Preferred Date</label>
                <input type="date" name="date" required>

                <label for="cause">Cause</label>
                <textarea id="cause" name="cause" rows="4"></textarea>

                <button type="submit">Submit Appointment</button>
            </form>
        </div>
    </div>

    <!-- MAP -->

    <button id="directions" class="btn-green">Get directions</button>
    <div id="map"></div>

    <%- include('common/alert-timer.ejs') %>
        <script>
            function fetchTimeSlots(doctorName) {
                // Make an AJAX request to the server to fetch available time slots
                fetch(`/profile/getTimeSlots?doctor=${encodeURIComponent(doctorName)}`)
                    .then(response => response.json())
                    .then(data => updateTimeOptions(data))
                    .catch(error => console.error('Error fetching time slots:', error));
            }

            function updateTimeOptions(timeOptions) {
                var timeSelect = document.getElementById("time");

                // Clear existing options
                timeSelect.innerHTML = "Choose a doctor";

                // Add new options based on the fetched time slots
                timeOptions.forEach(function (time) {
                    var option = document.createElement("option");
                    option.value = time;
                    option.text = time;
                    timeSelect.appendChild(option);
                });
            }
        </script>
        <!-- <script>

        // JavaScript function to handle selection change and store the selected doctor in the session
        function selectedDoc(selectedDoctor) {
            // Update the hidden input field with the selected doctor
            document.getElementById('selectedDoctorInput').value = selectedDoctor;

            // Make an asynchronous request to store the selected doctor in the session
            fetch('/save-selected-doctor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    selectedDoctor: selectedDoctor,
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Selected doctor saved successfully:', data);
                    // You can handle success if needed
                })
                .catch(error => {
                    console.error('Error saving selected doctor:', error);
                    // Handle the error if needed
                });
        }

    </script> -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js"
            charset="utf-8"></script>
        <script src="https://kit.fontawesome.com/6f77f484da.js" crossorigin="anonymous"></script>
        <script src="/javascripts/map.js"></script>
        <script src="/javascripts/script.js"></script>
        <script src="/javascripts/slideshow.js"></script>
        <script src="/javascripts/swiper.js"></script>

</body>

</html>